@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* ---------------- Colors ---------------- */

  /* Primary */
  --color-primary-70: oklch(0.3904 0 0);          /* #454545 */
  --color-primary-80: oklch(0.2686 0 0);          /* #262626 */
  --color-primary-95: oklch(0.1913 0 0);          /* #141414 */
  --color-primary-100: oklch(0 0 0);              /* #000000 */

  /* Neutral */
  --color-neutral-5:  oklch(1 0 0);               /* #ffffff */
  --color-neutral-10: oklch(0.9911 0 0);          /* #fcfcfc */
  --color-neutral-15: oklch(0.9702 0 0);          /* #f5f5f5 */
  --color-neutral-20: oklch(0.9551 0 0);          /* #f0f0f0 */
  --color-neutral-30: oklch(0.8853 0 0);          /* #d9d9d9 */
  --color-neutral-40: oklch(0.8047 0 0);          /* #bfbfbf */
  --color-neutral-50: oklch(0.6401 0 0);          /* #8c8c8c */
  --color-neutral-60: oklch(0.464 0 0);           /* #595959 */
  --color-neutral-70: oklch(0.3904 0 0);          /* #454545 */
  --color-neutral-80: oklch(0.2686 0 0);          /* #262626 */
  --color-neutral-90: oklch(0.2393 0 0);          /* #1f1f1f */
  --color-neutral-95: oklch(0.1913 0 0);          /* #141414 */
  --color-neutral-100: oklch(0 0 0);              /* #000000 */
  
  /* Disabled */
  --color-disabled: oklch(0.9164 0.0027 286.35);  /* #E3E3E5 */

  /* Green */
  --color-green-10: oklch(0.9576 0.0171 174.06);
  --color-green-20: oklch(0.8966 0.0396 174.41);
  --color-green-30: oklch(0.8163 0.0689 173.48);
  --color-green-60: oklch(0.596 0.1274 163.23);
  --color-green-70: oklch(0.5311 0.1135 163.19);
  --color-green-90: oklch(0.4019 0.084 164.31);

  /* Yellow */
  --color-yellow-10: oklch(0.9762 0.0232 90.75);
  --color-yellow-20: oklch(0.9462 0.055 92.52);
  --color-yellow-30: oklch(0.904 0.0955 91.96);
  --color-yellow-50: oklch(0.8282 0.1552 89.84);
  --color-yellow-60: oklch(0.7952 0.1617 86.05);
  --color-yellow-70: oklch(0.7046 0.143 86.15);

  /* Red */
  --color-red-10: oklch(0.9566 0.0185 17.48);
  --color-red-20: oklch(0.8986 0.0462 18.05);
  --color-red-30: oklch(0.8231 0.0859 19.07);
  --color-red-60: oklch(0.6368 0.2078 25.33);
  --color-red-70: oklch(0.5651 0.1821 25.17);
  --color-red-90: oklch(0.4247 0.1319 24.73);

  /* Blue */
  --color-blue-10: oklch(0.9641 0.0185 227.28);
  --color-blue-20: oklch(0.9136 0.0442 228.04);
  --color-blue-30: oklch(0.849 0.0778 228.46);
  --color-blue-60: oklch(0.6847 0.1479 237.32);
  --color-blue-70: oklch(0.6069 0.1304 237.18);
  --color-blue-90: oklch(0.4564 0.0958 236.34);

  /* ---------- Typography ---------- */
  --font-peyda: var(--font-peyda-fd) , tahoma;

  /* Display */
  --text-display-xl: 2rem;
  --text-display-xl--line-height: 2.5rem;
  --text-display-xl--font-weight: 800;
  --text-display-lg: 1.75rem;
  --text-display-lg--line-height: 2.25rem;
  --text-display-lg--font-weight: 800;
  --text-display-md: 1.5rem;
  --text-display-md--line-height: 2rem;
  --text-display-md--font-weight: 800;

  /* Headline */
  --text-headline-lg: 1.75rem;
  --text-headline-lg--line-height: 2.25rem;
  --text-headline-lg--font-weight: 700;
  --text-headline-md: 1.5rem;
  --text-headline-md--line-height: 2rem;
  --text-headline-md--font-weight: 700;
  --text-headline-sm: 1.25rem;
  --text-headline-sm--line-height: 1.75rem;
  --text-headline-sm--font-weight: 700;
  --text-headline-xs: 1rem;
  --text-headline-xs--line-height: 1.5rem;
  --text-headline-xs--font-weight: 700;

  /* Label */
  --text-label-lg: 1.125rem;
  --text-label-lg--line-height: 2rem;
  --text-label-lg--font-weight: 500;
  --text-label-md: 1rem;
  --text-label-md--line-height: 1.75rem;
  --text-label-md--font-weight: 500;
  --text-label-sm: 0.875rem;
  --text-label-sm--line-height: 1.5rem;
  --text-label-sm--font-weight: 500;
  --text-label-xs: 0.75rem;
  --text-label-xs--line-height: 1.25rem;
  --text-label-xs--font-weight: 500;
  --text-label-2xs: 0.625rem;
  --text-label-2xs--line-height: 1.125rem;
  --text-label-2xs--font-weight: 500;
 
  /* Body */
  --text-body-xl: 1.125rem;
  --text-body-xl--line-height: 2rem;
  --text-body-xl--font-weight: 400;
  --text-body-lg: 1rem;
  --text-body-lg--line-height: 1.75rem;
  --text-body-lg--font-weight: 400;
  --text-body-sm: 0.875rem;
  --text-body-sm--line-height: 1.5rem;
  --text-body-sm--font-weight: 400;
  --text-body-xs: 0.75rem;
  --text-body-xs--line-height: 1.25rem;
  --text-body-xs--font-weight: 400;
  --text-body-2xs: 0.625rem;
  --text-body-2xs--line-height: 1.125rem;
  --text-body-2xs--font-weight: 400;

  /* Caption */
  --text-caption-xs: 0.75rem;
  --text-caption-xs--line-height: 1.25rem;
  --text-caption-xs--font-weight: 400;
  --text-caption-2xs: 0.625rem;
  --text-caption-2xs--line-height: 1.125rem;
  --text-caption-2xs--font-weight: 400;


  /* ------------- Grid System ------------- */

  --grid-columns: 4;
  --grid-gutter: 1rem;
  --grid-margin: 1.5rem;

  --grid-container-width: calc(100% - 2 * var(--grid-margin));
  --grid-column-width: calc(
    (100% - (var(--grid-columns) - 1) * var(--grid-gutter)) /
      var(--grid-columns)
  );

  /* ------------- Radiuses ------------- */

  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-10: 0.625rem;
  --radius-12: 0.75rem;
  --radius-14: 0.875rem;
  --radius-16: 1rem;
  --radius-24: 1.5rem;

  /* ------------- Shadows ------------- */

  /* Shadow 100 */
  --shadow-100: 0px 1px 2px rgba(221, 221, 221, 0.05);

  /* Shadow 200 */
  --shadow-200: 0px 1px 3px rgba(221, 221, 221, 0.10);

  /* Shadow 300 */
  --shadow-300: 
      0px 4px 6px rgba(221, 221, 221, 0.10),
      0px 2px 4px rgba(221, 221, 221, 0.06);

  /* Shadow 400 */
  --shadow-400: 
      0px 2px 8px rgba(93, 93, 93, 0.12);

  /* Shadow 500 */
  --shadow-500: 
      0px 4px 12px rgba(93, 93, 93, 0.16);

  /* Shadow 600 */
  --shadow-600:
      0px 8px 16px rgba(93, 93, 93, 0.12);
}

/* ---------------------------------------------------
   BASE LAYER
---------------------------------------------------- */
@layer base {
  ::selection {
    @apply bg-neutral-500 text-neutral-100;
  }

  /* Autofill Fix */
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px theme("colors.primary.70") inset !important;
    box-shadow: 0 0 0px 1000px theme("colors.primary.70") inset !important;
    -webkit-text-fill-color: theme("colors.neutral.800") !important;
    caret-color: theme("colors.neutral.800") !important;
  }

  /* Scrollbars */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-400);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-neutral-500);
  }

  *::-webkit-scrollbar-track {
    background: var(--color-neutral-100);
    border-radius: 8px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-400) var(--color-neutral-100);
  }

  *:hover {
    scrollbar-color: var(--color-neutral-500) var(--color-neutral-100);
  }
 html{
  font-family: var(--font-peyda-fd);
}
  /* Arrow Animation */
  @keyframes arrow-up-down {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
  }

  .arrow-up-down {
    display: inline-block;
    animation: arrow-up-down 1.5s ease-in-out infinite;
  }
}

/* ---------------------------------------------------
   UTILITIES
---------------------------------------------------- */
@layer utilities {

  /* Flex Helpers */
  .flex-center { @apply flex justify-center items-center; }
  .flex-between { @apply flex justify-between items-center; }

  /* Grid Container */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--grid-gutter);
    padding: 0 var(--grid-margin);
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .grid-container {
      max-width: 100%;
      padding: 0 32px;
    }
  }
}

/* ---------------------------------------------------
   COMPONENTS
---------------------------------------------------- */
@layer components {
  .\@container {
    @apply p-4 md:p-6;
  }
}
